<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.atguigu.lease.web.admin.mapper.FeeValueMapper">

    <select id="selectListByApartmentId" resultType="com.atguigu.lease.web.admin.vo.fee.FeeValueVo">
        select fv.id,
               fv.name,
               fv.unit,
               fv.fee_key_id,
               fk.id,
               fk.name fee_key_name #为了与FeeValueVo类中定义的属性feeKeyName映射
        from lease.fee_value fv
                 join lease.fee_key fk on fv.fee_key_id = fk.id
        where fv.is_deleted = 0
          and fk.is_deleted = 0
          and fv.id in (select fee_value_id
                        from lease.apartment_fee_value
                        where is_deleted = 0
                          and apartment_id = #{id})
    </select>
<!--    现将fee_value表与fee_key表关联起来，再过滤id条件-->
</mapper>
